<br>
<div class="container">
    <div class="col-md-6">
        <app-counter-output></app-counter-output>
    </div>
</div>


<div class="conatainter">
    <div class="col-md-6 align">
        <button type="button" class="btn btn-primary" (click)="Increment()">Increment</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-success" (click)="Decrement()">Decrement</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-warning" (click)="Reset()">Reset</button>
    </div>
</div>

<br><br>
<div class="container">
    <div class="col-md-6">
        <app-counter-custom-input></app-counter-custom-input>
    </div>    
</div>